# Node.js and NPM
node_modules/
package-lock.json
yarn.lock

# Build artifacts
/build

# Environment variables
.env

# IDE-specific files (optional)
.vscode/
.idea/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# macOS
.DS_Store

# Thumbnails (if applicable)
thumbnails/
